__pycache__/
*.py[cod]
venv/
build/
dist/
*.egg-info/
.pytest_cache/
.coverage
output/
*.log
.idea/
.vscode/
.DS_Store
*.swp
*.swo
*~
.gitattributes
.env
tests/.coverage
htmlcov/
.tox/
nox_root/
.pyright_output/
node_modules/
*/__pycache__/
